.element__like {
  background-image: url(../../../images/VectorHeart.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  width: 22px;
  height: 19px;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  padding-right: 30px;
}

.element__like:hover {
  opacity: 50%;
}

.element__like:active {
  background-image: url(../../../images/Union.svg);
  opacity: 1;
}
