.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*@media screen and (max-width: 768px) {
  .profile {
    /*max-width: 564px;
    flex-direction: column;
  }
}*/

@media screen and (max-width: 400px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}
